* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Verdana", sans-serif;
}

body {
  background-color: #e6f7ff;
}

/* nev css  */
.nav{
  height: 90px;
  display: flex;
  color: #ebebeb;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05); */
  background-color: rgb(0, 0, 51);
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li{
  gap: 10px;
  color: #e6f7ff;
}

.nav ul li a {
  color: #f4f4f4;
  text-decoration: none;
}

.nav ul li a:hover{
  cursor: pointer;
  color: rgb(176, 176, 240);
}

nav ul .login_btn{
  border-radius: 8px;
  border: none;
  background: #3920ab;
  color: #fff;
  padding: 8px 25px;
  font-size: 18px;
  margin-left: 10px;
}
.login_btn:hover{
  background-color: #1f0479;
}

nav ul li a {
  text-decoration: none;
}

/* home css */

h1 {
  color: #300d5a;
  font-size: 3.25em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

h2 {
  color: #300d5a;
  font-size: 2em;
  text-align: center;
}

h3 {
  color: #300d5a;
  font-size: 1.5em;
}

h4 {
  color: #300d5a;
  font-size: 1.25em;
}

p {
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  color: #282727;
  font-size: 1.25em;
  text-justify: center;
}
a {
  /* color: rgb(244, 14, 14); */
  text-decoration: none;
  margin: 10px;
  font-size: 1.25em;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: rgb(0, 0, 51);
}

.content {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.content a {
  /* color: #cc3852; */
  margin-right: 10px;
}

.auth-links {
  display: flex;
  align-items: center;
  gap: 3px; /* Adjust the spacing between "Create Post" and "Logout" as needed */
}

.LogOut-Button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 5em;
  font-size: 20px;
}

button span {
  margin-left: 3px;
}

.footer {
  background-color: rgb(0, 0, 51);
  color: white;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  margin-top: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.footer-copyright {
  margin-top: 20px;
  font-size: 14px;
}

.home-allcontent {
  margin-top: 20px;
  margin-bottom: 50px;
}

.home-project-intro-image img {
  width: 100%;
  height: 32em;
  justify-content: center;
}

.home-page {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.home-project-intro {
  margin-top: 4em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4em;
  justify-content: center;
}

.home-project-intro-quote {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}

.random-joke-header {
  margin-top: 20px;
  background-image: url("./images/images.jpeg");
  padding: 30px; /* Increased padding for more height */
  color: rgb(12, 44, 78);
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-size: cover; /*Sets the background image to cover the entire element */
  width: 100%;
  height: 150%;
}


blockquote {
  align-items: center;
  text-align: center;
}
blockquote>h2{
  color: #e5f1f5;
}

.container-home {
  padding: 20px;
}

.content-section-home {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Adjust the width ratio of image and text */
  align-items: center;
  gap: 20px; /* Adjust the gap between columns */
  margin-bottom: 40px;
}

.image-container-home {
  position: relative; /* Added positioning for overlay */
  max-width: 100%;
}

.image-home {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  width: 25%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.text-container-home {
  margin-right: 10%;
  position: absolute;
  top: 20%;
  right: 20px;
  width: 50%; 
}

.text-box-home {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.text-box-home p {
  margin-bottom: 15px;
}

.home-logoslider-mainContainer {
  margin: 10px;
}

.mainhome-logoslider-mainContainer .home-logoslider-container {
  padding: 40px 0;
}

.home-logoslider-mainContainer .home-logoslider-container img {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  width: 150px;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* quiz menu CSS */

.Quiz .quiz-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.Quiz .card {
  flex: 0 1 calc(20% - 10px);
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  max-width: none;
  width: 100%;
  height: 50%;
  background-color: #ffffff;
  margin-left: 5em;
  margin-right: 3em;
  margin-top: 5em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px;
}

.card-image img {
  width: 100%;
  height: 20%;
}

.card-content {
  padding: 20px;
  text-align: center;
  color: #333;
}

.Quiz .card-content button {
  font-size: 1.25em;
  box-shadow: 2px 2px 4px rgba(37, 3, 93, 0.2);
  border-radius: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.Quiz .card-content button:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 6px rgba(7, 6, 69, 0.4);
  cursor: alias;
}

.Quiz .card-content h2 {
  text-decoration: underline;
  font-size: 1.75em;
}
.Quiz .end-note {
  margin-top: 2.5em;
  text-align: center;
  /* color: red; */
  font-size: 1.25em;
  margin-bottom: 50px;
}
.commonQuiz{
  width: inherit;
  height: auto;
  justify-self: center;
}

.commonQuiz h2 {
  text-decoration: underline;
  margin-bottom: 1em;
}

.commonQuiz h3 {
  font-size: 1.75em;
  margin-bottom: 2em;
  text-align: center;
}

.commonQuiz p {
  margin-bottom: 3em;
}


.commonQuiz .container {
  margin-top: 2%;
  margin-bottom: 5%;
  align-items: center;
  /* justify-content: center; */
  /* min-height: 100%;  */
  width: 100%;
  border-radius: 15px;
  /* overflow: hidden; */
  padding: 40px;
  background-image: url("./images/quizbg-min.png");
  /* margin-left: 10%; */
  /* height: 70%; */
}

.commonQuiz .option-btn {
  font-size: 1em;
  box-shadow: 0px 0px 6px 1px rgb(26, 24, 24);
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.3s;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 0.7;
}

.commonQuiz .option-btn.checked,
.commonQuiz .option-btn:hover {
  background-color: rgb(26, 2, 73);
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px 6px 2px rgb(78, 69, 78);
}

.commonQuiz .option-container {
  /* display: flex; */
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

#next-button {
  padding: 10px;
  border: none;
  background-color: purple;
  background-color: #276272;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
  font-size: larger;
  font-weight: bold;
  transition: 0.2s;
  width: 20%;
  left: 30px;
  margin-left: 80%;
  bottom: 15px;
}

#next-button:active {
  box-shadow: none;
}
#retake-button {
  align-items: center;
}

#submit-button {
  display: none;
}

.commonQuiz .button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 26px;
  background-color: #276272;
  color: #fbfbfb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40%;
}

.commonQuiz .score {
  font-size: 5em;
  margin-top: 2%;
  margin-bottom: 2%;
}
.show-score p {
  font-size: 2em;
}

.commonQuiz .result-heading {
  font-size: 3em;
}

.createPostPage {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
}

.createPostPage .cpContainer {
  margin-top: 4em;
  margin-bottom: 4em;
  width: 70%;
  height: auto;
  padding: 20px;
  background-image: url("./images/quizbg-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(81, 80, 80);
}

.createPostPage .cpContainer h1 {
  margin-top: 2%;
  text-align: center;
  text-decoration: underline;
}

.createPostPage .cpContainer label {
  margin-top: 2%;
  font-size: 2em;
  color: #000000;
}

.createPostPage .cpContainer .inputGp {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.createPostPage .inputGp input,
.createPostPage .inputGp textarea {
  font-size: 2em;
  opacity: 0.7;
  padding: 7px;
}

.createPostPage .inputGp textarea {
  font-size: 2em;
  height: 250px;
}

.createPostPage .cpContainer button {
  padding: 10px;
  border: none;
  /* background-color: purple; */
  background-color: #276272;
  color: white;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  transition: 0.2s;
  width: 60%;
  left: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  bottom: 15px;
}

.createPostPage input,
.createPostPage textarea {
  margin-top: 5px;
}

/* .loginPage {
  width: 100%;
  height: 28em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage p {
  font-size: 30px;
} */

/* Google Button
.loginPage .login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.loginPage .login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.loginPage .login-with-google-btn:active {
  background-color: #eeeeee;
}
.loginPage .login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.loginPage .login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.loginPage button:hover {
  background-color: #0056b3;
} */

.blogsPage {
  width: 100%;
  min-height: calc(100vh - 80px);
  height: auto;
  background-image: url("./images/blogsbg-min.jpg");
  display: flex;
  flex-direction: column;
  height: 70%;
  align-items: center;
  padding-top: 20px;
}

.blogsPage .post {
  width: 900px;
  height: auto;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid rgb(190, 188, 188);
}

.blogsPage .post .postHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.blogsPage .postHeader .title {
  flex: 50%;
  text-decoration: underline;
}
.blogsPage .postHeader .deletePost {
  flex: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.blogsPage .deletePost button {
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

.blogsPage .post .postTextContainer {
  height: 100%;
  max-height: 400px;
  width: 100%;
  font-size: 20px;
  overflow: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.blogsPage .postAuthor {
  color: #000000;
}
/* Relax Page */
.relax-page {
  background-image: url("./images/relaxpagebg-min.jpeg");
}
.iframe-container {
  position: relative;
  width: 80%;
  height: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 20px;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.calming-videos-slider {
  text-align: center;
  padding: 10px;
}

.video-list {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  bottom: 100px;
}

.video-card {
  width: 500px;
  height: 300px;
  border: none;
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.video-list::-webkit-scrollbar {
  display: none;
}

.meditation-resources {
  text-align: center;
  padding: 20px;
}

.resource-slider {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.resource-card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 45px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  flex: 0 0 auto;
  cursor: pointer;
}

.resource-card img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.resource-card:hover {
  transform: scaleY(-50%);
  transition:ease 10s;
  scroll-behavior: smooth;
}

.resource-slider::-webkit-scrollbar {
  display: none;
 }

/*contact us */

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  color: #000000;
}

.contact-info {
  /* flex: 1; */
  padding: 2rem;
  width: 550px;
  height: 400px;
  background-size: cover;
  background-color: #d1e2fa;
  border-radius: 10px;
  margin-right: 10px;
}

.address {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.address .icon {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #000000;
}
.address .icon:hover {
  color: #007bff;
}

.social-icons .icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #000000; /* Icon color */
  transition: color 0.3s ease;
}

.social-icons .icon:hover {
  color: #007bff; /* Change icon color on hover */
}

.contact-form {
  flex: 1;
  padding: 2rem;
  width: 550px;
  height: 400px;
  background-color: #d1e2fa;
  background-size: cover; /* Cover the entire element */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: bold;
  color: #000000;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #1d4abd;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  
  background-color: #0a1a42;
}

.contact-form,
.address .icon,
.social-icons .icon {
  opacity: 0;
  transform: translateY(20px); /* Start slightly below and move up */
}

/* Animation for fade-in */
.contact-container {
  animation: fadeIn 3s  ease-in-out forwards; /* Run the fadeIn animation */
}

/* Define the fadeIn animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below and move up */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Reach the final position */
  }
}

/* Apply the animation to the contact form and icons */
.contact-form,
.address .icon,
.social-icons .icon {
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.2s; /* Delay the animation slightly */
}

/* Mental Health Carousel styles (Articles Main Page) */

.carousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.carousel-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.carousel-item h2 {
  padding: 20px;
}

.carousel-item p {
  margin-top: 10px;
  margin-bottom: 15px;
  /* color: #666; */
}

.read-more {
  align-self: flex-end;
  margin-top: auto;
  padding: 5px 10px;
  background-color: #ffffff;
  color: #000; /* Adjust text color for better visibility */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.read-more:hover {
  background-color: #aab3bc;
}

/* Mental illness page styles (information articles)*/
.mental-illness-page {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  /* color: #333; */
}

.mental-illness-page p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.mental-illness-page ul {
  list-style: disc;
  margin-left: 20px;
}

.mental-illness-page li {
  margin-bottom: 10px;
}

.mental-illness-page a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.mental-illness-page a:hover {
  color: #0056b3;
}

.mental-illness-page img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  float: left;
  margin-right: 20px;
}

.arrow-button {
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.prev-button {
  float: left;
}

.next-button {
  float: right;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.large-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.mental-illness-page {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  /* color: #333; */
}

.mental-illness-page p {
  margin-bottom: 20px;
}

.embed-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.embed-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

/* support groups */
.support-groups {
  text-align: center;
  padding: 40px 0;
}

.groups-slider {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.groups-card {
  flex: 0 0 350px;
  background-color: #fff;
  border-radius: 25px;
  padding: 30px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  scroll-snap-align: start;
}

.groups-card img {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.groups-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.groups-card:hover img {
  transform: scale(1.08);
}

/* Transparent custom scrollbar */
.groups-slider::-webkit-scrollbar {
  width: 10px;
}

.groups-slider::-webkit-scrollbar-thumb {
  background-color: rgba(52, 152, 219, 0.7); /* Semi-transparent blue */
  border-radius: 10px;
}

.groups-slider::-webkit-scrollbar-track {
  background-color: transparent;
}

/* AboutUs.css */

.about-us {
  text-align: center;
  padding: 40px;
  background-color: #e0e5f4;
  background-image: url("https:");
}

.founders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  opacity: 0; /* Initially hide the containers */
  animation: fadeInFromLeft 1s ease-in-out forwards; /* Apply the animation */
}

@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-50px); /* Start off the screen to the left */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Move to the original position */
    opacity: 1;
  }
}

.founder {
  border-radius: 0; /* Remove border-radius for square containers */
  padding: 20px; /* Adjust padding as needed */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Set the width for square containers */
  height: 300px; /* Set the height to match the width for a square */
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: transparent;
}

.founder:hover {
  transform: scale(1.1);
}

.founder-image {
  height: 100%;
  width: 100%;
  background-size: auto; 
  position: absolute;
  top: 0;
  left: 0;
}
.founder-image>img{
  height: 300px;
  width: 300px;
}

.founder-details {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Use rgba with the desired color and opacity */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.founder:hover .founder-details {
  opacity: 1;
}

.founder-details p {
  font-size: 16px;
  color: #777;
}
 /* quiz CSS */
#hero {
  /* background: #e6f7ff; */
  text-align: center; 
  display: inline-flex;
  padding-left: 5%;
}
#hero div{
  padding-left: 10%;
}

#hero h1 {
  font-size: 2.5em;
  padding-top: 10%;
  /* margin-top: 10%; */
}
#hero p{
  margin-bottom: 5% ;
}
#hero .cta-button {
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* feedback css */

/* General Container */
.container {
  max-width: 600px;
  height: inherit;
  margin: 5px;
  justify-self: center;
  padding: 20px;
  background-color: #d1e2fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Section Title */
.container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

/* Form Labels */
form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}

/* Form Inputs */
form input,
form textarea {
  width: 100%;
  padding: 10px;
  /* margin-top: 5px; */
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

form textarea {
  resize: none;
}

/* Rating Stars */
.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 150px;
  margin: 10px 0;
}

.star {
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s ease;
}

.star:hover,
input[type="radio"]:checked ~ .star {
  color: #f39c12;
}

/* Submit Button */
form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

/* Response Message */
#responseMessage {
  margin-top: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: #4caf50;
}

/* Error Response Styling */
#responseMessage.error {
  color: #e74c3c;
}


/* personalized advice */
.advice-block {
  margin: 20px auto;
  padding: 15px;
  width: 80%;
  max-width: 400px;
  background-color: #e6f7ff;
  border: 1px solid #b3e0ff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.advice-block h2 {
  color: #007acc;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.advice-block p {
  color: #333;
  font-size: 1em;
  margin-bottom: 10px;
}

.video-block {
  margin-top: 15px;
}

.video-block p {
  font-size: 0.9em;
  color: #555;
}

.video-block iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-top: 8px;
}

.additional-advice {
  margin-top: 15px;
  padding: 10px;
  background-color: #d8f0fa;
  border-radius: 8px;
  font-size: 0.95em;
  color: #555;
}

/*  */
/* General Styles */

.mental-health-assessments {
  margin: 20px;
  padding: 20px;
  background-color: #fffffff6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mental-health-assessments>h2 {
  color: #300d5a;
  font-size: 2em;
  margin-bottom: 10px;
}

.mental-health-assessments>p {
  font-size: 1.1em;
  width: 700px;
  justify-self: center;
  align-items: center;
  color: #555;
  margin-bottom: 20px;
}

.mental-health-assessments>h3 {
  font-size: 1.5em;
  color: #300d5a;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

ul li {
  margin-bottom: 5px;
  font-size: 1.1em;
  color: #333;
}

.assessment-category {
  margin-bottom: 30px;
  margin-left: 100px;
}

.assessment-category:last-child {
  margin-bottom: 0;
}
/* daily motivation */

#daily-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

#daily-quote div {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

#daily-quote h2 {
  color: #300d5a;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Verdana", sans-serif;
}

.motivation_p {
  font-size: 18px;
  color: #1a1919;
  margin: 10px 0;
  font-family: "Verdana", sans-serif;
}

.motivation_button {
  padding: 10px 20px;
  background-color: #0a0d48;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.motivation_button:hover {
  background-color: #0056b3;
}

#loginPage{
  max-width: 600px;
  height: 500px;
  margin: 5px;
  justify-self: center;
  padding: 20px;
  background-color: #d1e2fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}
#email{
  margin-bottom: 30px;
  justify-content: center;

}
#password{
  margin-bottom: 30px;
  justify-content: center;

}
#log_button{
  justify-self: center;
  
}

